/* Variables for color */

$dark-blue: #161C2D;
$white: #ffffff;
$logo: #F4F7FA;
$green: #68D585;
$purple: #473BF0;

/* Variables for font-size */

$font-ex-sm: 15px;
$font-sm: 17px;
$font-medium: 19px;
$font-medium-l: 21px;
$font-large: 36px;
$font-larger: 48px;
$font-extra-large: 60px;
$font-logo: 24px;